.Review
  .review-section
    padding: 20px 150px
    border: 1px solid #eee
    border-radius: 4px

    .section
      margin-bottom: 60px
      line-height: 2.5

      &:last-child
        margin-bottom: 0