@import '../../../styles/variables.sass'
  
.Home
  height: auto
    
  .jumbotron 
    border-radius: 0px
    background-color: #fff
    height: auto

    >img
      width: 100%

      @media screen and (min-width: $mobile)
        height: 500px
  
  h3.display-6
    @media screen and (max-width: $small-device)
      font-size: 1.45em