@import '../../../styles/variables.sass'
    
.Header
    .navbar
        background-color: $primary
        color: white

        .navbar-brand
            color: white
            cursor: pointer

            &:hover
                font-weight: bold

        .nav-item
            cursor: pointer

            &:hover
                font-weight: bold

            a.dropdown-toggle
                color: #fff
